<!--  -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-sm-3 col-md-3">
            <input type="search" placeholder="Search " ng-model="custSearch.$" class="form-control" />
        </div>
        <div class="col-lg-2 col-sm-2 col-md-2">
            <button class="btn btn-primary" ng-click="getCustomerInit()">Re-Load</button>
        </div>
        <div class="col-lg-7 col-sm-7 col-md-7">
            Total {{totalCustomerRegistered.length}} Registered
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="">
                <table class="table table-condensed table-hover table-striped" ng-if="totalCustomerRegistered.length!=0">
                    <thead>
                        <tr>
                            <th><a href ng-click="orderByType('fullname')">Full Name</a></th>
                            <th><a href ng-click="orderByType('email')">E-Mail</a></th>
                            <th><a href ng-click="orderByType('subject')">Subject</a></th>
                            <th><a href ng-click="orderByType('message')">Message</a></th>
                            <th><a href ng-click="orderByType('leadType')">Lead Type</a></th>
                            <th><a href ng-click="orderByType('isAppLinkMailSent')">Is App Link Sent</a></th>
                            <th><a href ng-click="orderByType('created_at')">Date</a></th>
                            <th><a href>Action</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="cust in totalCustomerRegistered|orderBy:orderByValue|filter:custSearch:strict">
                            <td>{{cust.fullname}}</td>
                            <td><a href>{{cust.email}}</a></td>
                            <td>{{cust.subject}}</td>
                            <td>{{cust.message}}</td>
                            <td>{{cust.leadType}}</td>
                            <td>{{cust.isAppLinkMailSent}}</td>
                            <td>{{cust.created_at|date :'medium'}}</td>
                            <td>
                                <button class="btn btn-danger" ng-click="performAction(cust)">Action</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>