<!-- Fixed navbar -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <uib-tabset justified="true">
                <uib-tab index="0" heading="Customer New Lead">
                    <div ng-include="'components/customer-lead/customer-lead.html'"></div>
                </uib-tab>
                <uib-tab index="1" heading="Onboarded Customer">
                    <div ng-include="'components/onboarded-customer/onboarded-customer.html'"></div>
                </uib-tab>
                <uib-tab index="2" heading="Long Justified">Long Labeled Justified content</uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>